<div class="flex flex-col lg:flex-row items-center justify-around h-screen">
    <div class="flex flex-col items-start lg:items-center">
        <h1 class="text-4xl font-bold mb-4 lg:ml-3 text-center">Milionerzy - wersja państwa miasta</h1>
        <p class="description text-center text-slate-500">Gra na zasadach milionerów, ale pytania tylko o państwa lub miasta.</p>
        <a class="rounded-full button-start text-white p-3 mt-5 bg-blue-600 hover:bg-blue-700 cursor-pointer">Zacznij grę</a>
    </div>
    <div class="flex flex-col items-start lg:items-center lg:w-1/2">
        <img src="../assets/images/world.svg" alt="World Map" class="w-full mb-4">
    </div>
</div>
